<form id="postData">
	<label for="post_title">Title:</label>
	<input type="text" name="title" id="post_title" value= "<%= post.title %>">
	<label for="post_body">Body:</label>
	<input type="text" name="body" id="post_body" value="<%= post.body %>">
	<input id="submitButton" type="submit" value="CLICK ME FOR POOOOOST! (please)">
</form>